.header-first-background {
  background-color: #293449;
  color: white;
}
.header-first-background a {
  color: white;
}

.footer-first-background {
  background-color: #32425C;
}

.footer-second-background{
  background-color: #293449;
  color: #fff;
}
.footer-first-background a {
  color: #F1F5F7;
}

.footer-contacts address,
.footer-contacts a {
  color: #F3F7F9;
}

.gold-font a{
  color: #FFD180;
}

.icon-1 {
  background-color: #FFBF47;
}

.icon-2 {
  background-color: #3BBCE3;
}

.icon-3 {
  background-color: #DC91D8;
}

.icon-4 {
  background-color: #8ED78F;
}

.icon-5 {
  background-color: #FFC047;
}
